*{
    padding: 0;
    margin: 0 ;
}

.navbar{
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 1300px;
    text-align: center;
    align-items: center;
}
.navfeature{
    display: flex;
    gap: 32px;
    text-decoration: none;
    list-style: none;
}

.btn1{
    width:164px ;
    height: 44px;
    border-radius:4px ;
    background-color: #469165;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600px;
}

.banner{
    margin: 0 auto;
    width: 1600px;
    height:674px ;
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
  background-size: cover;
  align-items: center;
  text-align: center;

}

.banner-content{
    padding: 115px 120px 179.5px 120px;

}

.btn2{
    color: #469165;
    border: none;

    width: 229px;
    height: 35px;

    border-radius: 100px; 
    display: inline-flex;

    align-items: center;
    gap: 8px;

    background-color: white;
    color: #3b9465;

    padding: 8px 14px;
    font-size: 14px;
    font-weight: 600;
}

.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover,.btn5:hover {
 background: linear-gradient(to left, rgb(111, 111, 238), purple);
}

.btn2::before{
    content: "";
    
    width: 9px;
    height: 9px;

    background-color: #4aa878;
    border-radius: 50%;

    box-shadow:
        0 0 0 3px rgba(74, 168, 120, 0.18),
        0 0 7px rgba(74, 168, 120, 0.5);
}

.banner-content h2{
    padding-top: 16px;
    font-size:72px ;
    font-weight: bold;
    color: white;

}

.banner-content p{
    width: 1300px;
    height:60px;
    color: white;
    font-size: 18px;
    padding-top: 16px;
}

.btn3{
    border: none;
    width:251px ;

    height: 52px;
    background-color: #469165;

    color: white; 
    font-size: 16px;

    font-weight: 600;
    border-radius: 4px;
}

.btn4{
    width: 192px;
    height:52px ;

    gap: 16px; 
    background-color: transparent;

    color: white; 
    border: 1px solid; 
    border-radius: 4px; 
}
.btn4::before{
    content: "▷";
    font-size: 27px;
    margin-right: 12px;
    vertical-align: middle;
}




.bannerbtn button{
    margin-right: 20px;
   
}

.bannerbtn img{
    width:15.63px;
    height:13.33px;
    align-items: center;
}


 /* note section start */

.note-container{
    margin: 0 auto;
    padding-top: 20px;
    width: 1360px;
    height: 152px;
    text-align: center;
}
.note-container h2{
    font-size:48px ;
    font-weight:bold ;
    color: black;
}
.note-container p{
    padding-top: 16px;
    font-size:16px ;
    color: #627382;
}

 /* card section start */

.card-continer{
    margin: 0 auto;
    width: 1360px;
    display:flex ;
    justify-content: space-between;

}

.card {
    width: 322px;
    height: 300px;

    align-items: center;
    text-align: center;

    border-radius: 8px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    box-shadow:0 6px 50px 0 #f7f4f4;
}
    
.card h2{
   font-size: 24px; 
    font-weight: 600px;
    color: #001931;
     
}
.card p{
    padding-top: 16px;
    width:274px ;
    height:40px ;
    color: #627382;
    font-size: 16px;
}

.icon{
    width: 60px;
    height: 60px;
    background-color: #ff5757;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 14px;
}

/* secon brain start */

.features{ padding-top: 120px;
    width: 1360px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.feature{
    width: 700px;
    height: 396px;
   padding-top: 102px;
  padding-left: 60px;
 
}
.feature h3{
    padding-bottom: 16px;
    font-size: 16px;
    color: #469165;
    font-weight:500px ;

}
.feature h2{
    padding-bottom: 16px;
    width: 700px;
    height: 116px;
    font-size: 48px;
    font-weight: bold;
}
.feature h4{
    padding-bottom: 40px;
    width:700px ;
    height: 60px;
    color:#627382;
    font-size: 16px;
}

.line-item{
    display: flex;
    align-items:center;
    gap: 7px;
    margin-bottom: 16px;
}

.early-access{

    background-color: #F7F6F2;
    width: 1360px;

    height: 384px;
    align-items: center;

    text-align: center;
    margin: 0 auto;

    justify-content: center;
    flex-direction: column;
    display: flex;
  
}

.early-access h2{

    font-size: 40px;
    font-weight: bold;

    padding-bottom: 16px;
}

.early-access p{
    font-size: 16px;
    color: #627382;
    padding-bottom: 24px;
}

.btn5{
    width: 194px;
    height: 52px;

    background-color: #429566;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 16px;
    font-weight: 600;

    display: flex;
    justify-content: center;

    align-items: center;
    gap: 5px;

    cursor: pointer;
   margin-bottom: 16px;
}

.early-access h3{
    width: 1280px;
    height:60px ;
    font-size: 16px;
    color: #627382;
    font-weight:400 ;
}

.footer{ 
    padding-bottom: 20px;
    margin: 0 auto;
    width: 1600px;
    height: 384px; 
    background-color: #001931;
    align-items: center;
    margin-top: 120px;
}
.footer-item{
    margin: 0 auto;
    width: 1360px;
    height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 120px 120px 164px 120px;
    gap: 1001px;

}


.footer-item img{
width:139px ;
height: 60px;
}

.social {
 color: white;
}

.social h3{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 16px;
}
.social i{
    margin-right: 22px;
}
.footer-line {
    width: calc(100% - 160px);
    height: 1px;
    background-color: #29465b;
    margin: 0 auto;
}
.copyright {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 22px;}


    /* responsive design  */

 